<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzm.security.mapper.PermissionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yzm.security.entity.Permissions">
        <id column="p_id" property="pId" />
        <result column="role_id" property="roleId" />
        <result column="url" property="url" />
        <result column="perms" property="perms" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        p_id, role_id, url, perms
    </sql>

    <select id="getPerms" resultMap="BaseResultMap">
        select p_id, role_id, url, perms
        from permissions
        where role_id in
        <foreach collection="roleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
