<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzm.shiro.mapper.PermissionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yzm.shiro.entity.Permissions">
        <id column="p_id" property="pId"/>
        <result column="p_name" property="pName"/>
        <result column="p_desc" property="pDesc"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        p_id
        , p_name, p_desc
    </sql>

    <select id="getPermissions" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `permissions`
        where p_id in
        <foreach collection="permIds" item="permId" separator="," open="(" close=")">
            #{permId}
        </foreach>
    </select>

</mapper>
