<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>
<p>Click <a th:href="@{/user/hello}">here</a> to see a greeting.</p>
<p><a th:href="@{/user/info}">info</a> 用户详情 </p>
<p><a th:href="@{/user/toAdmin}">Admin</a> 是否拥有Admin角色 </p>
<p><a th:href="@{/user/toUser}">User</a> 是否拥有User角色 </p>
<p><a th:href="@{/user/adminSelect}">adminSelect</a> 是否拥有adminSelect权限 </p>
<p><a th:href="@{/user/adminDelete}">adminDelete</a> 是否拥有adminDelete权限 </p>
<p><a th:href="@{/user/userSelect}">userSelect</a> 是否拥有userSelect权限 </p>
<p><a th:href="@{/user/userDelete}">userDelete</a> 是否拥有userDelete权限 </p>
</body>
</html>