<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}"/>
</head>
<body>

<h1>User list</h1>

<table>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>密码</th>
        <th>生日</th>
        <th>描述</th>
    </tr>
    <tr th:each="user:${users}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${#dates.format(user.birthDay,'yyyy-MM-dd hh:mm:ss')}"></td>
        <td th:text="${user.desc}"></td>
    </tr>
</table>

</body>
</html>